.navbarMain {
    background-color: transparent;
    z-index: 300;
}


.navbarMain ul li a {
    color: black;
}

body {
    background-image: none;
    background-color: #E7E7E7;
}

.headerRecovery{
    margin: 0 auto;
    margin-top: 50px;
    background-image: url('../images/BARRA_AMARILLA_TEXTOS.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 500px;
    padding: 15px;
    color: black;
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
}


.contentRecovery {
    background-color: #241D20;
    color: #BDBDBD;
    padding: 40px 90px;
    text-align: center;
    grid-area: content;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
  }
  
  p {
    margin: 10px 0;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
  }
  

@media screen and (max-width: 1023px) {
    body {
        grid-template-areas:
            "aside content"
            "aside content"
            "footer footer"
    }

    .containerRecovery{
        grid-area: content;
    }


    .contentRecovery {
        padding: 40px 20px;
        width: 100%;
      }

    .headerRecovery{
        width: 100%;
    }
}
