.contentSummary{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}


.paymentContainer{
    width: 90%;
    max-width: 1300px;
    border: 1px solid white;
    background-color: rgba(47, 47, 47, 0.7);
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    margin-top: 300px;
    padding: 20px 10px;
    justify-items: center;
    color: #C0BFBA;
}


.cardPayment{
    width: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.cardPayment img{
    width: 200px;
}

.priceFooterPaymetCard{
    color: #E8CA74;
    font-weight: bold;

}

.footerCardPayment{
    text-align: end;
    margin-top: 40px;
}


.PorTeacher{
    font-size: 12px;
    font-weight: lighter;
    text-align: end;
}


.dataCourseCard h3{
    margin-bottom: 1px;
}

.totalDisplay{
    background-color: transparent;
    border: solid 1px gray;
    padding: 5px;
    font-size: 16px;
    color: #E8CA74;
    font-weight: bold;
    border-radius: 10px;
}

.titleSectionPackage{
    display: none;
}


@media screen and (max-width: 1024px){

    body{
        grid-template-areas: "aside content" "aside content";
    }

    .contentSummary{
        grid-area: content;
    }


    .paymentContainer{
        margin-top: 0;
        width: 100%;
        grid-template-columns: 1fr;
        border: none;
    }

    .paymentData{
        justify-self: end;
        margin-top: 30px;
    }

    .cardsCourses{
        width: 100%;
    }

    .cardPayment{
        justify-content: space-around;
    }

    .dataSample{
        width: 90%;
    }

    
    .titleSectionPackage{
        display: block;
        width: 100%;
        text-align: start;
        margin-left: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        color: #C0BFBA;
    }

}


@media screen and (max-width: 596px) {
    .cardPayment img{
        width: 120px;
        height: 80px;
    }
}